ul {
  list-style-type: none;
  margin: 230px;
  padding: 0;

  text-align: right;
}

.imagetofloat {
  float: left;
  margin: 50px;
}

.resultsList {
  margin: 40px;
  text-align: center;
}

li {
  margin-left: 40px;
}
